<link rel="stylesheet" href="/stylesheets/sidebar.css">
<aside class="sidebar">
    <div class="brand">
        <img class="brand-img" src="/images/sitting-dog.png" alt="" srcset="">
        <p class="brand-text"><a href="/catalog/"><span>Dog</span>Smart</a></p>
    </div>
    <ul>
        <li><a href="/catalog/categories">All Categories</a></li>
        <li><a href="/catalog/products">All Products</a></li>
        <li class="add-class"><a href="/catalog/category/create">New Category</a></li>
        <li class="add-product"><a href="/catalog/product/create">New Product</a></li>
    </ul>
</aside>