.category-form {
  padding: 48px;
  width: 100%;
}

.category-form form {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  max-width: 40%;
}

.submit-class {
  margin-left: 18px;
  background-color: #14a44d;
  color: #efefef;
  border: none;
  border-radius: 3px;
  width: fit-content;
  padding: 4px 16px;
  cursor: pointer;
}

.input-class {
  outline: none;
  border: none;
  padding-left: 4px;
  min-width: 200px;
  font-size: 1.3rem;
}
